PUBLIC_RPC_URL="https://mainnet.sorobanrpc.com"
PUBLIC_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
PUBLIC_WALLET_WASM_HASH="ecd990f0b45ca6817149b6175f79b32efb442f35731985a084131e8265c4cd90"
PUBLIC_RELAYER_URL="https://channels.openzeppelin.com"
PUBLIC_RELAYER_API_KEY="<relayer-api-key>" # Only needed in dev - visit https://channels.openzeppelin.com/gen
PUBLIC_KALE_CONTRACT_ID="CDL74RF5BLYR2YBLCCI7F5FB6TPSCLKEJUBSD2RSVWZ4YHF3VMFAIGWA"
PUBLIC_KALE_SAC_ID="CB23WRDQWGSP6YPMY4UV5C4OW5CBTXKYN3XEATG7KJEZCXMJBYEHOUOV"
