---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import Home from '../components/Home.svelte';
---

<Layout title="KALE 🥬">
	<main class="p-2 overflow-hidden">
		<Header client:only="svelte" />
		<Home client:only="svelte" />
	</main>
</Layout>