---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="p-2 overflow-hidden">
		<Home client:only="svelte" />
	</main>
</Layout>